{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration/login.css' %}" />
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body ><!-- style="background-image: linear-gradient(
    to bottom,
    rgba(25, 125, 189, 0.5),
    rgba(160, 196, 216, 0.5)), url({% static 'logos/ReunionImg.jpg' %});" -->

    <div class="login">

        <div class="LogInWindow">

            <h2>Log In</h2>

            <div class="form">
                <form method="post">
                    {% csrf_token %}

                    <div class="form-field">
                        {{ form.username.label_tag }}

                        <input type="username" id="username" name="username" placeholder="Username">
                        <!-- {{ form.username }} -->
                    </div>
                    <div class="form-field">
                        {{ form.password.label_tag }}

                        <input type="password" id="password" name="password" placeholder="Password">
                        <!-- {{ form.password }} -->
                    </div>

                    <a id="forgot" href="#">Forgot My Password</a>

                    <div id="button"><button type="submit">Log In</button></div>

                </form>
            </div>

        </div>

        <div class="banner">
            <div id="logo"><h3 class="logo_element" >DAgora</h3>
                <img src="{% static 'logos/LogoDA.png' %}">
                
            </div>

            <p>
                La DAgora es un proyecto con la finalidad de crear una forma para la DA de tener un sistema que permita
                llevar las reuniones / JDs de forma más ordenada
                y más sencilla para todos los miembros, con su función principal siendo permitir a los miembros de la DA
                de poder marcar su asistencia / avisar si van a asistir
                o no a la reunión por adelantado, para así permitir a los organizadores de la reunión tener más
                facilidad a la hora de organizarla, en vez de tener que mandar varios
                whatsapps y forms. <br><br>

                El proyecto es una web API que utiliza Django, una backend de python, pero también utiliza JQuery de
                javascript para mejorar la comodidad y efectividad de la pagina.<br><br>

                Dependencias: <br>
                -
                - Django 4.0<br>
                - Python 3.10 (Probablemente valgan versiones más anteriores)<br><br>

                El proyecto consiste en varias partes:<br><br>
                -
                - Un sistema de Login:<br><br>

                Los usuarios no podrán acceder a ninguna parte de la página sin verificarse. Algunos usuarios también
                tendrán más permisos que otros (como por ejemplo el permiso para crear
                reuniones), lo cual se implementará utilizando el sistema de grupos de Django.<br><br>

                - La página principal:<br><br>

                La página principal será donde los usuarios puedan ver la información de su perfil junto con una lista
                de todas las reuniones a las que han sido o están siendo
                convocados. Al pulsar las reuniones te redirige a la pagina de información de la reunión.<br><br>

                - Páginas de información sobre las reuniones:<br><br>

                Cada reunion tendrá su propia pagina ("/<nombre de la reunión>") donde el usuario podrá ver la
                información básica de la reunión junto con la lista de miembros convocados.
                A parte, también es esa la página donde los usuarios podrán avisar de si van a asistir o no a la
                reunión.<br><br>

                Los miembros con los permisos necesarios también podrán editar la información de la reunión,
                borrarla, o subir archivos.<br><br>

                - Pagina de creación de reuniones:<br><br>

                Esta es la pagina donde los usuarios con los permisos necesarios podrán crear reuniones. Consiste
                primero en una form simple que permita al creador de definir la
                información básica de la reunión (nombre, fecha, descripción) y en una lista seleccionable de
                usuarios, donde el creador puede filtrar usuarios por distintas
                características y seleccionar a que usuarios convocar a la reunión.<br><br>

                Al darle al botón de crear reunión el usuario será deredigido a la pagina de información de la nueva
                reunión.<br><br>


                Funcionalidad:<br><br>
                -
                - Para los perfiles actualmente se está utilizando el sistema de perfiles de django, pero se ha
                ampliado para añadir a cada Usuario los atributos de clase/curso y
                rol dentro de la delegación, con el fin de facilitar la selección de convocados a la hora de crear
                nuevas reuniones.<br><br>

                El codigo para esto consiste en una nueva clase 'UserProfile' con esos atributos la cual luego se
                añade como extensión a la clase 'User' que viene con Django.
                Todo esto se encuentra dentro de la carpeta 'custom_profiles'.<br><br>

                - Hay un sistema muy básico de login de django.<br><br>

                Django automaticamente busca un login.html de login dentro de la carpeta templates/registration para
                crear la pagina de login, así que en caso de edición solo
                hay que tocar eso<br><br>

                - Para ver que usuarios han sido convocados a que reuniones se usa el objeto "Attendance". Se ha
                creado una nueva clase 'Attendance' con una oneToOne relationship
                con el usuario y la reunión. Basicamente, por cada usuario convocado por reunión se crea uno de
                estos objetos el cual vincula al usuario a la reunión. Además es este
                objeto el que tiene el atributo de la asistencia y guarda la información sobre si el usuario va a
                asistir a la reunión o no.<br><br>

                El codigo para todo esto está en la carpeta de 'reuniones'.<br><br>

                - Todas las views / El codigo sobre las principales páginas se encuentra en 'reuniones/view'<br><br>

                Cosas que faltan:<br><br>
                
                - Un sistema para subir archivos a la hora de crear la reunión<br>
                - Toda la parte que permite a ciertos usuarios editar la información de la reunión en la pagina de
                información<br>
                - Crear página de edición ("/&lt;nombre>/edit"?)<br>
                - Añadir botón visible solo por ciertos usuarios que lleve a la pagina de edición<br>
                - Añadir el sistema de permisos que permita darle a ciertos usuarios ciertos poderes<br>
                - Implementar sistema de notificaciónes<br>
                - Objectivo: En la página principal que esté señalizado a los usuarios si no han entrado a la pagina<br>
                de información de la reunión desde su creación o su ultima
                edición<br>
                - → Implementar atributo de fecha de creación / edición a la clase "Reunion"<br>
                - → Implementar atributo de fecha de visita a la clase "Attendances"<br>
                - Implementar usuarios UPM oficiales (todavía no se puede hacer)<br><br>



                Para abrir el server:<br><br>
                -
                Sin virtual enviroment:<br><br>

                1. Entrar a la carpeta donde se tenga guardado el código / Entrar a donde esté manage.py
                2. python manage.py runserver<br><br>

                Esto te enseñará un link con tu IP que podrás usar para acceder al projecto en forma de un
                liveserver local<br><br>

                Con virtual enviroment:<br><br>

                1. Asegurarte de que las dependencias correctas están descargadas en el venv<br>
                3. Ir a la carpeta donde está situada el venv<br>
                2. correr (nombre de la carpeta del virtual enviroment, ej: venv)/Scripts/activate<br>
                2.5. Si salta error de permisos usar 'Set-ExecutionPolicy Unrestricted -Scope Process'<br>
                - Ya has entrado al venv<br>
                3. Ahora corres los mismos pasos que si no estuviaras utilizando un virtual enviroment




            </p>





        </div>


    </div>



</body>
{% endblock %}