body{
    margin:0px;
    font-family: "Noto Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    font-size: 18px;
}

/*Alinea el logo en el centro para probar como queda (si no gusta quitar #banner{})*/
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    margin: 20px 0px 20px 0px;
}


/* header/Toolbar */
#header{
    background-color: #014479;
    height:42px;
    display: flex;
    align-items: center;
    padding: 0 10% 0 10%;
    justify-content: space-between; /*separa el log out del resto*/
}

#header div{
    height:100%;

    padding-left: 15px;
    padding-right: 15px;

    font-size: 1em;
    color:white;

    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center;
}

#header a{
    color:white;
    text-decoration: none;
}

.headerButton:not(:first-child) {
    margin-left: 1px; /* Add margin to separate the buttons */
    position: relative; /* Position the button container relative */
}

.headerButton:not(:first-child)::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Position the pseudo-element absolutely */
    left: -1px; /* Adjust the position to align with the previous button */
    top: 50%; /* Position the line vertically in the middle */
    transform: translateY(-50%); /* Center the line vertically */
    width: 1px; /* Width of the line */
    height: 25%; /* Height of the line, adjust as needed */
    border-left: 2px solid #417092;
}

.headerButton:hover{
    background-color:rgb(14, 53, 92);
}

/*mobile header*/
#mobile_header{
    display: none;
}

@media (max-width: 768px){
    #header{
        display: none;
    }

    #mobile_header{
        background-color: rgb(1, 68, 121);
        height:42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10% 0 10%;

    }

    .mobileHeaderButton{
        height:100%;
    
        font-size: 1em;
        color:white;
    
        display: flex;
        align-items: center; /* Vertically center the content */
        justify-content: center;
    }

    #dropdown_content {
        display: none;
        z-index: 99999;
        height: calc(100% - 181px);
        top:181px;
        width:100%;
        left: 0;    /* Align the left edge of the dropdown with the button */
        position: absolute;
        background-color: rgba(1,68,121,0.8);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      }
      
      /* Style the dropdown links */
      #dropdown_content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: white;
      }
}
