.inputDiv div{
    padding-left:10px;
}

.inputDiv li{
    list-style: none;
    margin:15px;
}


#reunion_information_input{
    margin-top: 25px;
    border-bottom-style:solid;
    border-color:rgb(180,180,180);
    border-width:2px;

    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;

}

#reunion_information_input li input{
    color:rgb(70,70,70);

    margin-left: 10px;
    margin-right: 10px;


    
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
    border-style:none;
}

#id_my_name{
    width:500px;
}

#id_my_description{
    color:rgb(70,70,70);
    

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
    
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
    border-style:dashed;

    width:97%;
}

#userSelectionFormRole{
    margin-top: 25px;
    border-bottom-style:solid;
    border-color:rgb(180,180,180);
    border-width:2px;

    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
}

#userSelectionFormRole li div div label{
    font-size: 20px;
}

#userSelectionFormRole li div div label:hover{
    color:rgb(80,80,80);
    font-weight:bold;
}

#userSelectionFormRole li label:hover{
    color:rgb(80,80,80);
}

.role_checkbox{
    margin-bottom:5px;
    margin-top:15px;
    display:block;
    font-weight:bold;
}




#orderByButtons{
    padding: 0px;
}
#orderByButtons button{
    padding-right:15px;
    padding-left: 15px;
    background-color: gray;
    border-style: none;
    margin:0px;
}
#orderByButtons button:hover{
    background-color: rgb(200,200,200);
}



#file_submission{
    padding-top:25px;
    padding-bottom: 25px;

    border-bottom-style:solid;
    border-color:rgb(180,180,180);
    border-width:2px;
}

#reunionname{
    margin:25px;
    height:50px;
    width:125px;
    font-weight:bold;

    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;

    border-style:none;

    background-color:gray;

}

#reunionname:hover{
    border-color:gray;
    border-style:solid;
    border-width:2px;

    background-color:lightgray;
}

#reunionname:active{
    border-color:lightgray;
    border-style:solid;
    border-width:2px;

    background-color:white;
    
}