/* for both meeting creation and meeting edition (as they have almost all the same inputs and structure) */

#base_div div{
    padding-left:10px;
}

#base_div li{
    list-style: none;
    margin: 15px;
}


#meeting_information_input{
    margin: 25px 10px 10px 10px;
    font-size: 22px;

    padding:10px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:5px;
    color: #000;
    text-decoration: none;
    display: block;
    background-color: lightgray;
}

.input_box{
    background-color: lightgray;
    color: rgb(60,60,60);
    font-size: 22px;
    font-family: "Noto Sans","consolas", sans-serif, 'Times New Roman', Times, serif;  
}
.input_box::placeholder{
    color: rgb(60,60,60);
}

#name_input_box_holder{
    display: grid;
    grid-template-columns: auto 1fr; /* "auto" for label width, "1fr" for input width */
    gap: 10px; /* Adjust as needed for spacing between label and input */
}


#meeting_information_input li input{
    border-style:none;

    margin-left: 10px;
    margin-right: 10px;
    
      
}



#description_input_box{   

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
    
    border-style:dashed;

    width:97%;
}

@media (max-width: 768px){

    #meeting_information_input{
        font-size: 20px;
    }
    #name_input_box_holder{
        display:block;
    }
    #name_input_box{
        width:100%;
    }
    .input_box{
        font-size: 16px;
    }
    .input_box::placeholder{
        font-size: 18px;
    }

    #description_input_box{
        margin:0px !important;
        width: calc(100% - 30px) !important; /*100% - margin - 10% body*/
    }
}


#user_selection{
    margin: 25px 10px 10px 10px;
    font-size: 22px;

    padding:10px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:5px;
    color: #000;
    text-decoration: none;
    display: block;
    background-color: lightgray;
}

#user_selection li div div label{
    font-size: 20px;
}

#user_selection li div div label:hover{
    color:rgb(80,80,80);
    font-weight:bold;
}

#user_selection li label:hover{
    color:rgb(80,80,80);
}


.role_checkbox{ /* The lines for the Roles, not users */
    margin-bottom:5px;
    margin-top:15px;
    display:block;
    font-weight:bold;
}

@media (max-width: 768px){
    #user_selection{
        font-size:20px;
    }

    #user_selection li div div label{
        white-space: nowrap; /* Prevent text from wrapping to the next line */
        overflow: hidden; /* Hide any overflowing content */
        text-overflow: ellipsis; /* adds '...' at the end of the shortened overflowed content */
        font-size: 18px;
    }
}


#submit_button{
    margin:25px;
    height:50px;
    width:125px;
    font-weight:bold;

    font-family: "Noto Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;

    border-style:none;

    background-color:gray;

}

#submit_button:hover{
    border-color:gray;
    border-style:solid;
    border-width:2px;

    background-color:lightgray;
}

#submit_button:active{
    border-color:lightgray;
    border-style:solid;
    border-width:2px;

    background-color:white;
    
}

/* File submission (Dropzone section) */
#file_submission_section{
    padding-top:25px;
    padding-bottom: 25px;

    border-bottom-style:solid;
    border-color:rgb(180,180,180);
    border-width:2px;
}



