#profile_window{
    margin: 10px;
    padding:10px;
    background-color:gray;
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
}
#profile_window h2{
    margin: 3px;
}
#profile_window ul li{
    list-style: none;
    
}




#meeting_window{
    margin: 10px;
    padding:10px;
    background-color:gray;
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
}
#meeting_window h2{
    margin: 3px;
}

#meeting_window ul li{
    list-style: none;
    margin:5px;
    
}

#meeting_window a:link{
    color: black;
    text-decoration: none;
}
#meeting_window a:visited{
    color: black;
    text-decoration: none;
}