* {

}

body {
    display: flex;
    flex-direction: column;
}

.meeting-box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-color: #115c8b;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.44);
    
}

.title {
    display: flex;
    align-items: center;
    background-color: #115c8b;
    height: 30px;
    padding: 5px 0 5px 20px;
    font-size: 13px;
    background-color: #115c8b;
    width: calc(100% - 20px) ;
    color: white;
}

.meetings {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.no-meetings {
    padding: 10px;
}

.meeting-info {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    
    padding: 5px;
    border-width: 6px 0 0px 0;
    border-style: solid;
    border-color: #115c8b;
}

#justify-centre {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.meeting-name-date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.meeting-name {
    background-color: #b4ccd4;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 10px;
    
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; 
}

.meeting_attendance {
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.meeting_attendance[attendance="true"]{
    background-color:rgba(0, 128, 0, 0.81);
}

.meeting_attendance[attendance="false"]{
    background-color:rgba(255, 0, 0, 0.718);
}

@media (max-width: 768px){
    .meeting-info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

} 













/* content
#content{
    padding: 0 10% 0 10%;
}

profile window
#profile_window{
    margin-top: 10px;
    padding:10px;
    background-color:gray;
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
}
#profile_window h2{
    margin: 3px;
}
#profile_window ul li{
    list-style: none;
    
}

meeting window
#meeting_window{
    margin: 10px;
    padding:10px;
    background-color:gray;
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
}
#meeting_window h2{
    margin: 3px;
}

#meeting_window ul li{
    list-style: none;
    margin:5px;
    
}

#meeting_window a:link{
    color: black;
    text-decoration: none;
}
#meeting_window a:visited{
    color: black;
    text-decoration: none;
}







.section{
    padding: 10px;
}

.section_title{
    padding:10px;
    border-radius:5px;
    color:white;
    font-size: 25px;
    display:inline-block;
    background-color: #014479;
}

.section_div{
    padding:20px;
}

.meeting_div{
    padding:10px;
    padding-top:2px;
    padding-bottom:2px;
    margin: 3px 0px 3px 0px;
    border-radius:5px;
    color: #000;
    text-decoration: none;
    display: block;
    background-color: lightgray;
}

.meeting_div div{
    white-space: nowrap; Prevent text from wrapping to the next line
    overflow: hidden; Hide any overflowing content
    text-overflow: ellipsis; adds '...' at the end of the shortened overflowed content
}

.meeting_div div{
    margin:5px;
}

.meeting_name{
    font-size: 20px;
}
.meeting_info{
    font-size: 16px;
}
.meeting_attendance{
    font-size: 16px;
}
.meeting_attendance[attendance="true"]{
    color:green;
}
.meeting_attendance[attendance="false"]{
    color:red;
}

@media (max-width: 768px){
    .section_title{
        width:100%;
        text-align: center;
    }
} */