.reunionTitle{
    margin:10px;
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;

}




.usersList li{
    list-style: none;


    margin-left: 10px;
    margin-right: 10px;

    padding-top:17px;
    padding-bottom:17px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
}

.user_info{
    padding-top:2px !important;
    padding-bottom:2px !important;
}

#myUser{
    display:inline-block;    
}

#myUser label li{
    float:left;
    margin-left:49px;
    padding-top:17px !important;
}

#postButtons{
    display:inline-block;
    padding-top:17px;
}

.roleTitle{
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    font-size: 22px;
}

#userList{
    margin-left:14px;
}

#userList div ul li{
    margin-left:50px;
}






.AsistButton{
    font-size: 0px;
    height:25px;
    width:25px;
    border-radius:30px;
    border-style:none;
}

#trueAsist{
    background-color:green;
}

#falseAsist{
    background-color:red;
}
#trueAsist:hover{
    background-color:rgb(10, 70, 10);
}

#falseAsist:hover{
    background-color:rgb(137, 9, 9);
}

