#editionForm{
    list-style: none;


    

    padding-top:17px;
    padding-bottom:17px;



    
    font-family: "consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
}

#editionForm input{
    color:rgb(70,70,70);

    margin-left: 10px;
    margin-right: 10px;


    
    font-family: "consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
    border-style:none;
}

#editionForm textarea{
    color:rgb(70,70,70);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
    
    font-family: "consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
    border-style:dashed;

    width:97%;
}

#editionForm p{
    margin-top:0px;
    margin-bottom:0px;
    border-top-style:solid;
    border-width:2px;
    border-color:rgb(220,220,220);
    padding:15px;
}

#submitButton{
    color:black!important;
    background-color:darkgray;
    
}

#submitButton:hover{
    background-color:lightgray;
    color:gray!important;

}


