.reunionTitle{
    margin:10px;
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;

}




.usersList li{
    list-style: none;


    margin-left: 10px;
    margin-right: 10px;

    padding-top:17px;
    padding-bottom:17px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    
    font-size: 22px;
}
.notUser{
    clear:both;
}
.myUser{
    margin:0px;
    padding:0px;
}
.myUser li{
    text-align: center;
    float:left;
    
}



.myUser li.postButtons{
    padding:0px;
    margin:0px;
    margin-top:10px;
}


.AsistButton{
    font-size: 0px;
    height:25px;
    width:25px;
    border-radius:30px;
    border-style:none;
}

#trueAsist{
    background-color:green;
}

#falseAsist{
    background-color:red;
}
#trueAsist:hover{
    background-color:rgb(10, 70, 10);
}

#falseAsist:hover{
    background-color:rgb(137, 9, 9);
}

