#userlist{
    margin-left: 20px;
    margin: 10px;
    background-color: lightgray;
    border: 2px solid white;
    border-radius: 10px;
    
    font-family: "Open Sans","consolas", sans-serif, 'Times New Roman', Times, serif;
    font-size: 18px;
}


.user_box{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}

.basic_info{
    min-height: 44px;
    margin:2px;
    flex: 2;
    display: block;
    justify-content: center;
    align-items: center;
    position:relative;
}

.basic_info> div {
    padding-left:15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.email_box{
    font-size: 15px;
}

.name_box{
    font-weight: bold;
}

.role_box{
    display: inline-block;
    flex: 1;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    list-style: none;
    font-size: 16px;
}


