{% extends 'base.html' %}
{%load static%}

{% block content %}
<body> 




    <div class="inputDiv">


        <form enctype='multipart/form-data' action="upload/" method='POST' class="dropzone dz" id="my-dropzone" name="file">
            {% csrf_token %}
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
        </form> 


        <form method="post" id="reunionForm">
            {% csrf_token %}
            <li>
                {{ form.my_name.label_tag }}
                {{ form.my_name}}
            </li>
            <li>
                {{ form.my_date.label_tag }}
                {{ form.my_date}}
            </li>
            <li>
                {{ form.my_description.label_tag }}
                {{ form.my_description}}
            </li>
        
            <div>
                <label> Order By: </label>
                <div id="orderByButtons">
                    <!-- Put buttons on different lines only if you want there to be space between them -> Not be a line anymore -->
                    <button type="button" id="RoleButton">Role</button><button type="button" id="NameButton">Name</button><button type="button" id="ClassButton">Class</button>    
                </div>    
            </div>

            <div id="userSelectionForm">
                <li>
                    {{ userSelectionForm.as_p }}
                </li>
            </div>

            <input type="submit" value="Submit" name = "reunionname" id="reunionname">
        </form>

        
    </div>


</body>

{%endblock%}