{% extends 'base.html' %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <script src="{% static 'js/home_email_status.js' %}"></script>
    
</head>
<body>


    <div id="profile_window">
        {% csrf_token %}
        <h2>{{ user.username }}</h2>
        <ul>
            <li>Name: {{ user.get_full_name }} </li>
            <li>Email: {{user.email}} </li>
            <li><label for="email_checkbox">Show email:</label><input type="checkbox" {% if user.userprofile.show_email %}checked{% endif %} id="email_checkbox"></input> </li>
            <li>
                <li>Roles: </li>
                <ul style="margin-left:10px;padding:5px;" > 
                    {%for role in user.userprofile.role.all%}
                    <li style="padding:2px;">{{role}}</li>
                    {%endfor%}
                </ul>
            </li>
        </ul>
    </div>

    
    <div id="meeting_window">
        <h2>Reuniones</h2>
        <ul>
            {% for meeting in meeting_list %}
            {% for attendance in meeting.attendances.all %}
            {% if attendance.user == request.user %}            
            <li> 
                <a href="/meeting/{{ meeting.id }} "> {{meeting}} - {{meeting.date|date:"d/m/y"}}, {{meeting.time|time:"H:i"}}
                    {% if attendance.attendance %} - will asist {% elif not attendance.attendance %} - won't asist {% endif %}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
    </div> 
</body>
</html>

{%endblock%}