
{% extends 'base.html' %}
{%load static%}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" type="text/css" href="{% static 'css/meeting_info.css' %}"/>
    <script src="{% static 'js/meeting_info.js' %}"></script>
</head>
<body>
    <div id="banner">
        <img id="logo" src="{% static 'logos/LogoDA.png' %}" width="250" height="94">
    </div>

    <div id="header">
        <div id="homeButton" class="headerButton">
            <a href="{% url 'home' %}">Home</a>
        </div>
        <div id="homeButton" class="headerButton">
            <a href="{% url 'userlist' %}">User List</a>
        </div>
        {%if user.userprofile.can_create_meeting %}
        <div id="homeButton" class="headerButton">
            <a href="{% url 'create_new_meeting' %}">Create Reunion</a>
        </div>
        {%endif%}

        <div class="headerButton"><a href="{% url 'logout' %}">Log Out</a></div>

    </div>
    <div id="mobile_header">
        <div id="homeButton" class="mobileHeaderButton">
            <a href="{%url 'home'%}"><img id="home_icon" src="{% static 'logos/home_icon.png' %}" height="30"></a>
        </div>
        <div id="dropdown_menu" class="mobileHeaderButton">
            <div id="dropdown_button"><img id="dropdown_menu_icon" src="{% static 'logos/dropdown_menu_icon.png' %}" height="30"></div>
            <div id="dropdown_content">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'userlist' %}">User List</a>
                {%if user.userprofile.can_create_meeting %}
                <a href="{% url 'create_new_meeting' %}">Create Reunion</a>
                {%endif%}
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
    </div>

    
    
    <h1 id="meeting_title"> {{meeting.name}} {%if editPerms%} <a id="meetingEdition" href="edit">Edit</a> {%endif%} </h1>

    <div id="meeting_info">
        <ul>
            <li>Date: {{meeting.date|date:"d/m/y"}}, {{meeting.time|time:"H:i"}}</li>
            <li> Description:</li>
            <li class="description">{{meeting.description}}</li>
            {%if files%}
            <li> Documents: </li>
            <ul id="file_list">
                {%for file in files%}
                    <li>
                        <a href="{{file.file.url}}"> 
                            <img id="file_download_img" src="{% static 'logos/download_file_icon.png' %}">
                            {{file.title}}
                        </a>
                    </li>
                {%endfor%}
            {%endif%}
             </ul>
        </ul>
    </div>


    <div id="my_user">
        <label for="attendance_buttons"> 
            <li class="user_info" value="{{request.user.id}}">
                {{ request.user.get_full_name}}
                
                {%for attendance in request.user.attendances.all%}
                {%if attendance.meeting == meeting%}                
                {%if attendance.attendance == True%}

                - will attend

                {%elif not attendance.attendance%}
                - won't attend

                {%endif%}
                {%endif%}
                {%endfor%}
            </li>

            <div id="attendance_buttons">
                {% csrf_token %}
                <input type="submit" value="will attend" id="attendance_true">
                <input type="submit" value="won't attend" id="attendance_false">
            </div>
        </label>
    </div>

    <div id="user_list"> 
    {%for group in groups%}
        {%if group.get_users%}

        <div style="display:block; float:none">
            <ul> 
                <div class="role_title">{{group}}</div>
                {%for user in group.get_users%}
                {%for attendance in user.attendances.all%}
                {%if attendance.meeting == meeting%}
                <li class="user_info" value="{{user.id}}">
                    {{user.get_full_name}} -

                        {%for role in user.userprofile.role.all%}
                            {%for roleGroup in role.group.all%}
                                {%if roleGroup.name == group.name%}
                                    {{role.name}}
                                {%endif%}
                            {%endfor%}
                        {%endfor%}                    
                    {%if attendance.attendance == True%}
                        - will attend
                    {%elif not attendance.attendance%}
                        - won't attend
                    {%endif%}
                </li>
                {%endif%}
                {%endfor%}
                {%endfor%}
            </ul>
        </div>
        
        {%endif%}
    {%endfor%}
    </div>


</body>
</html>
{%endblock%}