
{% extends 'base.html' %}
{% block content %}

<body>
    

    <!-- Inicio del cuerpo -->
    <h1 class="reunionTitle"> {{reunion.name}} </h1>

    <!-- Empieza la lista de usuarios -->
    <div id="reunionInfo">
        <ul>
            <li>{{reunion.name}}</li>
            <li>{{reunion.date}}</li>
            {%for document in documents%}
            <ul id="documents">
                <li>
                    <a href="../../media/{{document.file}}">{{document.title}}</a>
                </li>
            </ul>
            {%endfor%}
        </ul>
    </div>

    <div class="usersList">
        {% for attendance in attendances %}
        {% if attendance.user == request.user %}

        
        <ul class="myUser">
            {%if attendance.asistance%}

            <li class="userli"> {{attendance.user.get_full_name}} - {{attendance.user.userprofile.clase}} - {{attendance.user.userprofile.role}}  -  will attend</li>

            {%elif not attendance.asistance%} 
            
            <li class="userli"> {{attendance.user.get_full_name}} - {{attendance.user.userprofile.clase}} - {{attendance.user.userprofile.role}}  -  wont attend</li>

            {%endif%}
            <li class="postButtons">
                <!-- form con los botones para cambiar la asistencia -->
                <!-- aquí es donde se usa el .js script y el jquery importados anteriormente-->
                <form method="post" id="attendanceForm" >
                    {% csrf_token %}
                    <input type="submit" value="True" name = "trueAsist" id="trueAsist" class="AsistButton">
                    <input type="submit" value="False" name = "falseAsist" id="falseAsist" class="AsistButton">
                </form>
            </li>
        </ul>


        {% elif not attendance.user ==  request.user  %}

        {%if attendance.asistance%}

        <li class="notUser"> {{attendance.user.get_full_name}} - {{attendance.user.userprofile.clase}} - {{attendance.user.userprofile.role}}  -  will attend</li>

        {%elif not attendance.asistance%} 
        
        <li class="notUser"> {{attendance.user.get_full_name}} - {{attendance.user.userprofile.clase}} - {{attendance.user.userprofile.role}}  -  wont attend</li>

        
        {%endif%}




        {% endif %}
        {% endfor %}


    </div>
</body>
</html>
{%endblock%}