
{% extends 'base.html' %}
{%load static%}
{% block content %}


<body>
    

    <!-- Inicio del cuerpo -->
    {%if not editPerms%}
    <h1 class="reunionTitle"> {{reunion.name}} </h1>

    {%elif editPerms%}
    <h1 class="reunionTitle"> {{reunion.name}} <a id="reunionEdition" href="edit">Edit</a> </h1>

    {%endif%}

    <!-- Empieza la lista de usuarios -->




    <div id="reunionInfo">
        <ul>
            <li>Date: {{reunion.date}}</li>
            <li> Description:</li>
            <li class="description">{{reunion.description}}</li>
            {%if documents%}
            <li> Documents: </li>
            <ul id="documents">
                {%for document in documents%}
                    <li>
                        <a href="../../media/{{document.file}}"> 
                            <img id="document_download_img" src="{% static 'css/download_document_icon.png' %}">
                            {{document.title}}
                        </a>
                    </li>
                {%endfor%}
            {%endif%}
             </ul>
        </ul>
    </div>

    <div class="usersList">
        {% for attendance in attendances %}
        {% if attendance.user == request.user %}

        <!--
        <ul class="myUser">
            {%if attendance.asistance%}

            <li class="userli"> {{attendance.user.get_full_name}} - {{attendance.user.userprofile.clase}} - {{attendance.user.userprofile.role}}  -  will attend</li>

            {%elif not attendance.asistance%} 
            
            <li class="userli"> {{attendance.user.get_full_name}} - {{attendance.user.userprofile.clase}} - {{attendance.user.userprofile.role}}  -  wont attend</li>

            {%endif%}
            <li class="postButtons">
                <form method="post" id="attendanceForm" >
                    {% csrf_token %}
                    <input type="submit" value="True" name = "trueAsist" id="trueAsist" class="AsistButton">
                    <input type="submit" value="False" name = "falseAsist" id="falseAsist" class="AsistButton">
                </form>
            </li>
        </ul>
        {% endif %}
        {% endfor %}-->

        <div id="myUser">
            <label for="postButtons"> 
                <li class="user_info" value="{{request.user.id}}">
                    {{ request.user.get_full_name}} - {{request.user.userprofile.clase}}
                    
                    {%for attendance in request.user.attendances.all%}
                    {%if attendance.reunion == reunion%}                
                    {%if attendance.asistance == True%}

                    - will attend

                    {%elif not attendance.asistance%}
                    - will not attend

                    {%endif%}
                    {%endif%}
                    {%endfor%}
                </li>

                <div id="postButtons">
                    {% csrf_token %}
                    <input type="submit" value="True" name = "trueAsist" id="trueAsist" class="AsistButton">
                    <input type="submit" value="False" name = "falseAsist" id="falseAsist" class="AsistButton">
                </div>
            </label>
        </div>

        <div id="userList"> 
        {%for role in roles%}
            {%if role.get_users%}

            <div style="display:block; float:none">
                <ul> 
                    <div class="roleTitle">{{role}}</div>
                    {%for user in role.get_users%}
                    <li class="user_info" value="{{user.id}}">
                        {{user.get_full_name}} - {{user.userprofile.clase}}

                        {%for attendance in user.attendances.all%}

                        {%if attendance.reunion == reunion%}
                        
                        {%if attendance.asistance == True%}

                        - will attend

                        {%elif not attendance.asistance%}
                        - will not attend
                        {%endif%}

                        {%endif%}

                        {%endfor%}
                    </li>
                    {%endfor%}
                </ul>
            </div>
        

            {%endif%}
        {%endfor%}
        </div>



    </div>
</body>
</html>
{%endblock%}