{% extends 'base.html' %}
{%load static%}
{% block content %}


<body>
    

    <!-- Inicio del cuerpo -->
    <h1 id="editWarning"> MODO EDICION  <a id="reunionEdition" href="../">Return</a> </h1>

    <!-- Empieza la lista de usuarios -->


    <div> 
        <form method="post" id="editionForm">
            {% csrf_token %}
            {{reunionForm.as_p}}
            <input type="submit" value="Submit" name="submitButton" id="submitButton">
        </form>
    </div>

    <div id="documentEdition">
    {% if not documents %}
        <li>There are no documents linked to this Reunion</li>
    {%endif%}
    {%for document in documents%}
        <li>
            <a href="../../../media/{{document.file}}"> 
                <img id="document_download_img" src="{% static 'css/download_document_icon.png' %}">
                {{document.title}}
            </a>
            <button class="documentDelButton" id="documentDelButton"> Delete </button>
        </li>        
    {%endfor%}
    </div>

    <div id="addNewDocuments">
        <form enctype='multipart/form-data' action="/upload/" method='POST' class="dropzone dz" id="my-dropzone" name="file">
            {% csrf_token %}
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
        </form>
        <div id="file_submit_button">
            <Button>Submit new files</Button>
        </div>
    </div>
    
</body>
{%endblock%}